<h1 class='display-4'><u>Add new game:</u></h1>
<form (ngSubmit)="insertData()">
  <div class="form-group">
    <label for="game_name">Game name:</label>
    <input type="text" class="form-control" id="game_name" name="game_name" [(ngModel)]="game.name" placeholder="Enter game" >
  </div>
  <div class="form-group">
    <label for="game_price">Game price:</label>
    <input type="number" class="form-control" id="game_price" [(ngModel)]="game.price" name="game_price" min="0" max="9999" >
  </div>
  <div class="form-group">
    <label for="game_platform">Game platform:</label>
    <select class="form-control" id="game_platform" [(ngModel)]="game.platform" name="game_platform" >
      <option>All</option>
      <option>PC</option>
      <option>Xbox</option>
      <option>Sony-Playstation</option>
      <option>Nintendo</option>
      <option>Mobile</option>
    </select>
  </div>
  <div class="form-group form-check">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Platform</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <th scope="row">{{game.id}}</th>
        <td>{{game.name}}</td>
        <td>{{game.price}}</td>
        <td>{{game.platform}}</td>
        <td>
          <div class="bd-example ">
            <button type="button" class="btn btn-outline-primary" [routerLink]="['edit/{{game.id}}']" routerLinkActive="router-link-active"  (click)="edit_game(game.id)">Edit</button>
            <button type="button" class="btn btn-outline-danger mx-2" (click)="delete_game(game.id)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>